*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans";
}

body {
  background-color: aliceblue;
  color: white;
  
  background-image: url("./img/img2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.main-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.header {
  place-self: center;
  font-size: 3rem;
}

.body {
  display: grid;
  gap: 3rem;
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.search img {
  height: 5rem;
  align-self: center;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
  cursor: pointer;
}

#search-input {
  width: 40rem;
  height: 3rem;
  border-left: none;
  border-right: none;
  border-top: none;
  place-self: center;
  font-size: 3rem;
  padding: 2rem;
  align-self: center;
  background: transparent;
  border-color: white;
  color: white;  
}

#search-input:focus {
  box-shadow: none;
  outline: none;
  color: white;
}

.search button {
  background: transparent;
  display: grid;
  border: none;
}

.search-btn {
  transition: all .2s ease-in-out;
}

.search-btn:hover {
  transform: scale(1.2)
}

.current-weather-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-self: center;
  width: 80vw;
  padding: 2rem;
  border-radius: 10px;
}

.current-data li {
  font-size: 1.5rem;
}


.current-weather,
.user-control {
  padding: 2rem;
  backdrop-filter: blur(15px);
  border-radius: 1rem;
}

.current-data {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

.user-control {
  display: grid;
  gap: 1rem;
  grid-template-rows: 4fr 1fr;
}

.search-history {
  font-size: 4rem;
  display: grid;
  grid-template-rows: 1fr 2fr;
  text-align: center;
}

.search-data {
  max-height: 10rem;
  overflow: scroll;
  overflow-x: hidden;

  text-align: center;
}

.search-data::-webkit-scrollbar {
  width: 5px;
}
.search-data::-webkit-scrollbar-button {
  background: #ccc;
}
.search-data::-webkit-scrollbar-track-piece {
  background: #888;
}
/* .search-data::-webkit-scrollbar-thumb {
  background: #eee;
}​ */


.search-data * {
  font-size: 3rem;
}

.toggle-measure {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.metric,
.imperial {
  font-size: 3rem;
  display: grid;
  place-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.current-data * {
  margin-top: 1rem;
}

.current-data img {
  height: 3rem;
  width: auto;
  align-self: center;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}

.weather-data img {
  height: 2rem;
  width: auto;
  align-self: center;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}



.city-name {
  display: grid;
  place-content: center;
  font-size: 4rem;
  height: 3.5rem;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  align-self: center;
}

.five-day-forecast {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, 1fr);
  backdrop-filter: blur(10px);
}

.date {
  display: grid;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.weather-data {
  display: grid;
  gap: 1rem;
  grid-template-columns: min-content 1fr;
  justify-items: flex-start;
  align-items: center;
  padding: 0.3rem;
}

.footer {
  display: grid;
  place-content: center;
  padding: 1rem;
}

.clear-storage {
  align-items: center;
  background: transparent;
  border-radius: 12px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all .2s ease-in-out;

  width: 20vw;
}

.clear-storage:hover {
  transform: scale(1.1);
}

/* Dynamic: */
.error-msg {
  display: grid;
  grid-column: 2;
  place-content: center;
}

